<header>
  <nav >


      <div class="logo"><p>SignUp</p></div>
      <ul>
      <li ><a href="">TravelAPP</a></li>
      <li ><a routerLink="home">Home</a></li>
      <li ><a routerLink="ticket">Book Ticket</a></li>
      <li ><a href="">Travel Package</a></li>
      <li ><a routerLink="employee">Contact us</a></li>
      </ul>



  </nav>
</header>



<div class="side">
  <section class="heading">
    <ul>
      <li><a href="">Flight booking</a> </li>
      <li><a href="">Hotel booking</a> </li>
      <li><a href="">Bus booking</a> </li>
      <li><a href="">Car booking</a> </li>
    </ul>
  </section>


<section class="content">

<router-outlet></router-outlet>

</section>

<aside class="para">
  <div >
      <h1>Where?</h1><br><p>You can reach us anywhere</p>
  </div><br>
  <div >
  <h1>When?</h1><br><p>You can reach us anytime</p>
</div><br>
<div >
  <h1>Transport?</h1><br><p>You can book here for carbooking</p>
</div>
</aside>

</div>
