<div class="container">
  <h1>Hotel Reservation Form</h1>
  <form action="">

  <label for="">Rooms/suite Type</label><br>
  <select id="cars" name="cars">
    <option value="volvo"></option>
    <option value="volvo">1BHK</option>
    <option value="saab">2BHK</option>
    <option value="fiat">3BHK</option>

  </select>
  <label for="">Number of room/suite</label><br>
  <select id="cars" name="cars">
    <option value="volvo">0</option>
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="fiat">3</option>

  </select>
  <label for="">Number of persons</label><br>
  <select id="cars" name="cars">
    <option value="volvo">0</option>
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="fiat">3</option>

  </select>
  <label for="">Number of children</label><br>
  <select id="cars" name="cars">
    <option value="volvo">0</option>
    <option value="volvo">1</option>
    <option value="saab">2</option>
    <option value="fiat">3</option>

  </select>
  <label for="">Restaurants facilities?</label><br>
  <select id="cars" name="cars">
    <option value="volvo">Do you want restaurant facilities?</option>
    <option value="volvo">1BHK</option>
    <option value="saab">2BHK</option>
    <option value="fiat">3BHK</option>

  </select>
  </form>
</div>
